.navigation-bar ul {
    list-style: none; /*Verijdert de bullits in de list*/
    margin: 0;
    padding: 0;

}

.navigation-bar li {
    display: inline-block;
    margin: 10px 2em;
    border : var(--primary-color) 2px solid;
    max-width: 151px;
    max-height: 65px;

}

.navigation-bar li p {
    font-family: var(--font-iceland, serif), serif;
    font-size: 0.7em;
    margin: 4px;
}
.navigation-bar li a {
    text-decoration: none;
}
.navigation-bar li a h3 {
    font-family: var(--font-big-shoulders, serif), serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--text-color);
    line-height: 1.2em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-image: url('../../assets/Symbols/ButtonBackdrop.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 4px;
    background-size: 40px;
    background-color: var(--primary-color);
    background-clip: padding-box;
    margin: -2px;
}
.navigation-bar li a.active-link h3 {
    background-color: var(--accent-color);
    color: var(--text-color-inverted);
}
.navigation-bar li.active {
    border: var(--accent-color) 2px solid;
}